[Desktop Entry]
Type=Application
Name=Flex Control Companion Kiosk
Exec=/opt/flexcompanion/FlexCompanion --touch --kiosk
Icon=/opt/flexcompanion/Assets/FlexCompanionIcon.png
Terminal=false
X-GNOME-Autostart-enabled=true
